.canvas {
    border: 1px solid black;
    width: 512px;
    height: 512px;
    image-rendering: pixelated;
    margin-right: 80px;
  }

  .main {
    display:flex;
    justify-content: space-between;
    width:100%;
    padding-top:60px;

  }

  .radio_heading {
    font-size: 18px;

  }

  .list {
      list-style: none;
      &_item {
          font: normal 16px "Roboto";
          padding: 20px 0 20px 15px;
          position:relative;
        &::before {
            content: '';
            width: 24px;
            height: 24px;
            display:inline-block;
            position:absolute;
            top: 50%;
            left: 0;
            transform: translate(-100%,-50%);
            }
        }  
      }

  

  .label {
    font: normal 16px "Roboto";
    margin-left: 5px;
  }

  .title {
    font-size:  20px;
    font-family: Roboto;
    font-weight: 500;
    flex-shrink:0;
  }

  .wrapper {
      max-width: 1440px;
      
  }

  .header {
      width:100%;
      display: flex;
      align-items: center;
      box-shadow: 0px 5px 5px #bbbbbb;
  }


  .menu_panel {
      width: 228px;
      height: 246px;
      margin-left: 30px;
      box-shadow: 1px 2px 2px #bbbbbb, -1px 0 2px #bbbbbb;
  }

.nav_icon {
    background: url('assets/images/navicon.svg');
    width: 40px;
    height: 40px;
    margin-right: 30px;
}

.icon {
    background: url('assets/images/menuicon.svg');
    width: 12px;
    height: 24px;
}

.divider {
    flex:1;
}

.radio_item {
    margin-bottom: 10px;
}

#bucket::before {
    background: url('assets/images/bucket.svg');
 
}

#color::before {
    background: url('assets/images/dropper.svg');
}

#move::before {
    background: url('assets/images/cross.svg');
}


#transform::before {
    background: url('assets/images/arrows.svg');
}

#current_color::before {
    border-radius: 50%;
    background-color: #c4c4c4;
    width: 20px;
    height: 20px;
}



#previous_color::before {
    border-radius: 50%;
    background-color: #41f795;
    width: 20px;
    height: 20px;
}

#red_color::before {
    border-radius: 50%;
    background-color: #f74141;
    width: 20px;
    height: 20px;
}

#blue_color::before {
    border-radius: 50%;
    background-color: #41b5f7;
    width: 20px;
    height: 20px;
}


.action_panel {
    margin-bottom: 20px;
}